/**RESET**/

/ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**Base styles**/

html, body {
  font-size: 12px;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  font-family: "Lato", serif;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

.section-title {
  display: inline-block;
  position: relative;
  font-size: 2.4em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0.2em 0 3em 0;
  font-family: "Roboto";
}

.section-title .before {
  content="";
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 19px;
  border-top: transparent 2px solid;
  background: transparent;
  border-color: rgb(209, 4, 99);
}

.section-title .after {
  content="";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 15px;
  border-bottom: transparent 2px solid;
  background: transparent;
  border-color: rgb(209, 4, 99);
}

.section-title .tl, .section-title .tr, .section-title .br, .section-title .bl {
  display: block;
  position: absolute;
  width: 0px;
  height: 30px;
}

/**Style layout*/

.dark-section {
  background-color: rgb(32, 32, 32);
}

#about, #resume, #technology, #portfolio {
  padding-top: 10em;
  padding-bottom: 3em;
}

/** Navbar**/

#mainNav {
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: white;
  letter-spacing: 0.1em;
}

#mainNav .navbar-toggler {
  font-size: 1.6em;
  padding: 16px;
  color: black;
  box-shadow: none;
  border: 0;
}

#mainNav .navbar-brand {
  font-weight: 700;
  font-size: 2em;
  padding-left: 3em;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8), 0px -5px 35px rgba(255, 255, 255, 0.1);
}

#mainNav a {
  color: black;
}

#mainNav ul {
  font-size: 1.2em;
  padding-right: 3em;
  padding-top: 0.2em;
}

#mainNav li {
  margin-right: 12px;
  color: rgb(64, 64, 64);
}

.navbar-nav a:hover, .navbar-nav a:focus {
  color: rgb(209, 4, 99) !important;
  border: 0.05px rgb(209, 4, 99) solid;
}

/** Intro-section*/

.banner {
  background: url(../images/wilson2.jpg) no-repeat right top !important;
  background-size: cover !important;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
}

.intro-content {
  text-align: center;
}

.intro-text h1 {
  font-size: 5em;
  max-width: 1200px;
  margin: auto;
  margin-top: 3.2em;
  color: black;
  letter-spacing: 0.12em;
  text-shadow: 1px 1px rgba(0, 0, 40, 0.4);
  font-family: "Roboto";
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}

.intro-text p {
  font-size: 2.2em;
  margin-top: 7em;
  color: white;
}

.btn-circle {
  font-size: 28px;
  width: 65px;
  height: 65px;
  margin-top: 6.8em;
  line-height: 50px;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 4px solid black;
  border-radius: 100% !important;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 16.2em;
  margin-left: 0.5em;
}

.btn-circle:focus, .btn-circle:hover {
  border-color: black;
  outline: none;
  background: rgb(0, 0, 0, 0.8);
  color: rgb(209, 4, 99);
}

#intro h3 {
  margin-top: 1em;
  color: white;
}

/**Responsive banner*/

@media only screen and (max-width:1024px) {
  .intro-text h1 {
    font-size: 5em;
  }
  .intro-text p {
    font-size: 2em;
    padding-top: 1em;
  }
}

@media only screen and (max-width:768px) {
  .intro-text h1 {
    font-size: 4.6em;
    padding-top: 1em;
  }
  .intro-text p {
    font-size: 1.8em;
  }
}

@media only screen and (max-width:480px) {
  .intro-text h1 {
    font-size: 3.3em;
    padding-top: 2em;
  }
  .intro-text p {
    font-size: 1.4em;
    padding: 4em 2em 0 2em;
  }
}

/**End responsive banner*/
/**About*/

#about-content, #portfolio-section {
  text-align: center;
  padding-bottom: 6em;
  color: white;
}

#resume-section {
  text-align: center;
  padding-bottom: 6em;
  color: black;
}

.about-section p {
  font-size: 1.6em;
  color: white;
  letter-spacing: 0.9px;
}

#about #strike {
  text-decoration: line-through;
  color: rgb(209, 4, 99);
  font-style: italic;
}

#aboutme {
  font-size: 2.4em !important;
  color: hotpink;
}

/**Responsive about*/

@media only screen and (max-width:768px) {
  .about-section p {
    font-size: 1.4em;
    padding-left: 2em;
  }

  .about-me {
    padding-right: 3em;
  }
}

@media only screen and (max-width:480px) {
  .about-section p {
    font-size: 1.1em;
    padding-left: 2em;
  }

  .about-me {
    padding-right: 3em;
  }
}

/**End responsive about section*/

/**Work and education*/

#resume {
  color: black;
  position: relative;
}

#resume .timeline-ico {
  height: 5em;
  width: 5em;
  border: 2px solid rgb(209, 4, 99);
  position: absolute;
  padding: 3px;
  left: 40%;
}

#resume .timeline-block {
  position: relative;
  padding-top: 3rem;
  margin-bottom: 1em;
}

#resume .timeline-header {
  float: left;
  width: 40%;
  padding-right: 1em;
  text-align: right;
}

#resume .timeline-header p {
  font-size: 1.6em;
  padding-top: 0.1em;
}

#resume .timeline-content {
  text-align: left;
  font-size: 1em;
  padding-top: 0.2em;
  margin-left: 43%;
  padding-left: 60px;
  margin-right: 2%;
}

#resume .timeline-content h4 {
  font-size: 1.6em;
}

#resume .timeline-content p {
  font-size: 1.2em;
  color: rgb(120, 120, 120);
}

/**End work and education*/

/**Responsive work and education*/

@media only screen and (max-width:1024px) {
  #resume .timeline-ico {
    height: 4em;
    width: 4em;
    left: 43.5%;
  }
  #resume .timeline-content {
    margin-right: 5%;
  }
  #resume .timeline-content h4 {
    font-size: 1.3em;
  }
  #resume .timeline-content p {
    font-size: 1em;
  }
}

@media only screen and (max-width:768px) {
  #resume .timeline-content {
    margin-right: 5%;
  }
  #resume .timeline-content h4 {
    font-size: 1.5em;
  }
  #resume .timeline-content p {
    font-size: 1em;
  }
}

@media only screen and (max-width:480px) {
  #resume .timeline-content {
    padding-right: 3%;
  }

  #resume h2 {
    font-size: 1.6em;
  }
  #resume .timeline-content h4 {
    font-size: 1.4em;
  }
  #resume .timeline-content p {
    font-size: 1em;
  }
}

/**End responsive work and education*/

/**Technology */

.card p, .card-long p {
  font-size: 1.4em;
  margin: 3px;
  color: rgb(64, 64, 64);
}

.card {
  height: 140px;
  width: 120px;
  margin: 1em 1em 4em 10px;
  border: 1.5px solid rgb(209, 4, 99);
}

.card-img-top {
  height: 100px;
  width: 100px;
  margin: 10px 10px -2px 10px;
}

.card-long {
  height: 140px;
  width: 180px;
  margin: 1em 1em 4em 10px;
  border: 1.5px solid rgb(209, 4, 99);
}

.card-img-top-long {
  height: 100px;
  width: 160px;
  margin: 10px 10px -2px 10px
}

.card-icon {
  height: 50px;
  width: 50px;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

#technology {
  text-align: center;
  padding-bottom: 8em !important;
}

#technology h2 {
  text-align: left !important;
  margin-left: 0.4em;
  font-size: 2.2em;
}

/**End Technology*/
/**Portfolio**/

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: 20px;
}

.grid .content .title a {
  text-decoration: none;
}

/*Shine Effect**/
.grid .content .title .effect-shine h3:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.5s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
/*End Shine Effect*/
/**Responsive Grid*/
.item {
  background-color: black;
}

.photothumb {
  width: 100%;
  height: 100%;
}

.title {
  padding: 1em 0em 1em 0em;
}

.title h3 {
  font-size: 1.6em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.title span {
  font-size: 1.3em;
  color: hotpink;
}

.project .title {
  background-color: black;
}

.photo .title {
  background-color: black;
}

.desc {
  padding: 10px 10px 5px 10px;
}

.desc img {
  width: 50%;
  margin: 0 1px 10px 0;
  float: left;
}

.desc p {
  margin-bottom: 10px;
}

/**End Responsive Grid*/

.thumbnail {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.thumbnail:hover {
  background-color: transparent;
  z-index: 1;
}

.thumbnail span {
  position: absolute;
  padding: 5px;
  left: -1000px;
  visibility: hidden;
  color: black;
  text-decoration: none;
}

.thumbnail span img {
  border-width: 0;
  padding: 2px;
  height: 250px;
  width: 500px;
}

.thumbnail:hover span {
  visibility: visible;
  top: 1em;
  left: 100px;
}

/**Footer**/

#footer {
  padding-top: 4em;
  padding-bottom: 3em;
}

#footer li {
  padding-right: 3em;
}

.contact-buttons {
  justify-content: center;
}

.fa-envelope, .fa-github, .fa-linkedin, .fa-file-pdf {
  color: white;
}

.btn-default {
  font-size: 1em;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  padding: 10px;
}

.btn-default:focus, .btn-default:hover {
  border-color: rgb(209, 4, 99);
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(209, 4, 99);
}

#footer p {
  color: lightgray;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0.5em;
}

#footer h3 {
  text-align: center;
  font-size: 0.8em;
  color: gray;
}
